@keyframes box-animation {
    0%, 10% {opacity: 0%}
    100% {opacity: 100%}
}
#page-title{
  text-align: center;
  font-family: sans-serif, serif;
  color: white;
  text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
  font-size: 3em;
}
#cloud {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.line{
  margin: 10px;
  border: 2px solid white;
  box-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
}
.flex-container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.animalimg{
  width: 250px;
  height: 250px;
}
.box1 {
  animation-name: box-animation;
  animation-duration: 5s;
  max-height: 250px;
  max-width: 250px;
  margin: 40px;
  border: 2px solid black;
}
.flex-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  height: 80px;
  min-width: 100%;
  border-top: 1px solid black;
}
.foottext {
  font-family: sans-serif, serif;
  font-size: 0.5em;
  font-style: italic;
  text-align: center;
  max-width: 50%;
  position: relative;
  left: 25%;
  right:25%;
}
